<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>jiejay</title>
    <link rel="stylesheet" th:href="@{/css/preindex.css}" href="../static/css/preindex.css">
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
</head>
<body>
<div class="color animate__animated animate__fadeIn">
    <div class="font">
        <img class="ui avatar image p-img animate__animated animate__fadeIn" th:src="@{/images/avatar.png}" src="../static/images/avatar.png">
        <p class="p-name animate__animated animate__fadeInUp">JieJay</p>
        <br>
        <br>
        <p class="p-motto animate__animated animate__fadeInUp">“前面那么好，你不要回头看”</p>
        <a class="ui blue button p-button animate__animated animate__fadeInUp" th:href="@{/index}">enter</a>
    </div>
</div>
</div>
<p class="beian m-opacity-tiny m-text-thin m-text-spaced" >备案号：赣ICP备2022004074号-1</p>
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
</body>
</html>
